%html
  %meta{'charset' => 'utf-8'}
  %meta{'http-equiv' => 'x-ua-compatible', :content => 'ie=edge'}
  %meta{:name => 'viewport' , :content => 'width=device-width', :initial-scale => '1', :shrink-to-fit => 'no'}
  %title=current_page.data.title || "My portfolio"
  %link{:href => "https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css", :rel => "stylesheet"}/
  = stylesheet_link_tag "site"
  = javascript_include_tag "site"
  
  %body
    .sidebar-left.sidebar-right
    = yield