%p.text-right.tracking-tight.font-semibold.border-b-4.border-white About Me
%img.w-64.h-64.text-right.opacity-75.rounded-full.border-4.border-white.m-16(src="images/liam.jpg")
.projects
- data.aboutme.each do |aboutme|
  %p.flex.items-center
    .font-semibold.tracking-tight.text-4xl.mb-2= aboutme[:name]
    %p.text-base.font-medium.tracking-tight.text-2xl= aboutme[:description]
  .flex.items-center