.navbar.border-b-4.border-white
    .bg-center
    %nav.sticky.pin-t.flex.items-right.justify-between.flex-wrap.p-6.pl-8
        .flex.flex-row.items-center.flex-no-shrink.mr-7.text-white
    %a{href: "contact.html"}
        %p.text-xl.tracking-tight.font-semibold Contact
    %a{href: "tjenastein.html"}
        %p.text-xl.tracking-tight.font-semibold CV
    %a{href: "myportfolio.html"}
        %p.text-xl.tracking-tight.font-semibold  My Portfolio
    %a{href: "aboutme.html"}
        %p.text-xl.tracking-tight.font-semibold About Me
  
        %p.text-xl.tracking-tight.font-semibold  Home
.navbar_a.border-b-4.border-white